nextflow.enable.dsl=2

params {
    input_dir    = null
    metadata_f   = null
    metadata_r   = null
    salmon_fasta = null

    ncpus = 4
    trim_quality = 30
    cutadapt_error_rate = 0
    cutadapt_overlap    = 26
    condition_error_rate = 0
    condition_overlap = 26
    condition_min_length = 20
    salmon_libtype = "A"
    salmon_min_assigned_frags = 1
    common_5prime_sequence = "TACTAGCTCTACGACGGTCCACCTAAGCTT"
    common_3prime_sequence = "AAGCTT"
    common_error_rate = 0
}

process {
    cpus = params.ncpus
}